{% extends "data_view.html" %}
{% load custom_filters %}

{% block table_header %}
<th>Глубина</th>
<th>ID исходного ряда</th>
<th>ID атрибута</th>
<th>Значение</th>
<th>Начало</th>
<th>Конец</th>
{% endblock %}

{% block table_body %}
{% for item in hierarchy_data %}
    <tr>
        <td>{{ forloop.counter|add:hierarchy_data.start_index|add:"-1" }}</td>
        <td>{{ item.depth|as_badge }}</td>
        <td>{{ item.initial_time_series_id }}</td>
        <td>{{ item.attribute_id }}</td>
        <td>{{ item.value }}</td>
        <td>{{ item.start_dt|format_date:"d.m.Y H:i:s" }}</td>
        <td>{{ item.end_dt|format_date:"d.m.Y H:i:s" }}</td>
    </tr>
{% endfor %}
{% endblock %} 